<h1>Genius Cohorts </h1>

<head>


  <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <li class="active"><%= link_to "Currently signed up Geniuses", users_path %></li>
                    <li class="active"><%= link_to "Our Geniuses", users_path %></li>
                  </div>
              </div>
          </div>
        </div>
    </header>
  <div class="container-fluid">
    <table role='datatable responsive no-wrap'>
    <%= content_tag :table, role: :datatable, data: { url: admin_panel_dashboard_path(format: :json)} do %>

      <thead>
        <tr>
          <th>Cohort</th>
          <th>Genius</th>
          <th>Benchmarks</th>
          <th>Stipend</th>
          <th>Web Site</th>
          <th>App</th>
        </tr>
      </thead>
       <tbody>
         <tr>
          <td><input type='number' value='2'></td>
          <td><input type='text' value='jim'></td>
          <td><input type='text' value='no'></td>
          <td><input type='number' value='$200'></td>
          <td><input type='string' value='www.apple.com'></td>
          <td><input type='text' value='Hire'></td>
         </tr>
         <tr>
           <td><input type='number' value='3'></td>
           <td><input type='text' value='bob'></td>
           <td><input type='text' value='apple'></td>
           <td><input type='number' value='$280'></td>
           <td><input type='string' value='www.apple.com'></td>
           <td><input type='text' value='Hire'></td>
         </tr>
         <tr>
           <td><input type='number' value='5'></td>
           <td><input type='text' value='frank'></td>
           <td><input type='text' value='apple'></td>
           <td><input type='number' value='$300'></td>
           <td><input type='string' value='www.apple.com'></td>
           <td><input type='text' value='Hire'></td>
         </tr>
       </tbody>
      <tfoot>
        <tr>
            <td><input type='text'></td>
            <td><input type='text'></td>
            <td><input type='text'></td>
            <td><input type='text'></td>
            <td><input type='text'></td>
            <td><input type='text'></td>
        </tr>
      </tfoot>
    </tbody>
  <% end %>
  </table>
  </div>
</head>
