<h1>Geniuses</h1>
<div class="col-md-8">
  <table class="table table-striped">
    <thead>
      <tbody>
          <% @users.each do |user| %>
            <!-- <tr>
              <%= render user %>
            </tr> -->
          <% end %>
        </tbody>
    </thead>
  </table>



  <%= link_to 'Back to the lab', user_project_path(:user_id, project),
      class: "btn btn-success btn-lg link" %>

</div>
