<div class='container'>
 <div class='row'>
   <div class='col-md-10 text-center'>
     <footer role="contentinfo">
       <p><small>Copyright &copy;   Hodari A. Touré PhD </small></p>
     </footer>
   </div>
 </div>
</div>
