<h1>Geniuses Wragglers </h1>
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <li class="active"><%= link_to "Currently signed up Geniuses", users_path %></li>
                  <li class="active"><%= link_to "Our Cohorts", admin_staff_cohort_cohorts %></li>
                </div>
            </div>
        </div>
      </div>
  </header>
