<h1 class="text-center">
  New Project for
  <%= try(:user).try(:full_name) %>
</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 col-md-offset-2">
      <%= link_to 'Back', user_projects_path,
          class: "btn btn-default link", id: "new-project-btn" %>
    </div>
  </div>
</div>
