
<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">The Hidden Genius Project</h1>

                            <h2 class="active"><%= link_to "View our Featured Genius!", features_path %></h2>

                            <i class="fa fa-angle-double-down animated"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="Cohort 3" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Who are the Geniuses?</h2>
                <p>The Genuises come from all over the Bay from as far away as Brentwood to the other side of the Bay in SF <a href="https://www.youtube.com/channel/UCOhVvEbwfi3jnW9YDUuHiBQ/">Our youtube channel</a>. We have been featured in a variety of news, social medaia magazines.</p>
                <p>Each Cohort is responsible for producing individal mobile applications for their final project. <a href="http://hiddengeniusproject.org/">The Hidden Genius Project</a> Their projects will be judged by their mentors and awarded nominal payments based on a set of criteria <a href="http://www.meetgeorge.info/">Meet George from cohort 3!</a>.</p>
                <p>Their past aps have been featured in a variety of shows, events and media</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="Cohort 4" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Apply to be in the next cohort of Hidden Genius</h2>
                    <p>What you will learn</p>
                    <a href="http://www.hiddengeniusproject.org/apply/" class="btn btn-default btn-lg">Apply here</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="Cohort 5" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Visit the Hidden Genius Project</h2>
                <p>"The Hidden Genius Project trains and mentors Black male youth in technology creation, entrepreneurship, and leadership skills to transform their lives and communities."
                </p>
                <p><a href="mailto:info@hiddengeniusproject.org"</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/HiddenGeniusPro" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/quietwar" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/hiddengeniuspro/" class="btn btn-default btn-lg"><i class=""></i> <span class="network-name">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


      <%= render 'shared/footer' %>
      <%= render 'shared/header' %>
