@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 250px;
}

// navbar styling
.navbar {
  background: #808080;
  opacity: 0.5;

}

.navbar-header a.navbar-brand {
  color: #4040a1;
  padding-top: 25px;
  padding-bottom: 350px;
  font-size: 150%;
  font-weight: bold;
}

.navbar-header a.navbar-brand:hover {
  color: #1900ff;
}

.nav > li > a {
  padding-top: 25px;
  padding-bottom: 30px;
}

.navbar-default .navbar-nav > .active > a {
  background: #4040a1;
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:hover {
  background: #4040a1;
  color: #ff0000;
}

.navbar-default .navbar-nav > li > a {
  color: #4040a1;
  font-size: 130%;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ff0000;
}

.navbar-header {
   text-align: center;

}
.container {
     padding: 80px 120px;
 }
 .person {
     border: 10px solid transparent;
     margin-bottom: 25px;
     width: 80%;
     height: 80%;
     opacity: 0.7;
 }
 .person:hover {
     border-color: #f1f1f1;
 }
 .carousel-inner img {
     -webkit-filter: grayscale(90%);
     filter: grayscale(90%); /* make all photos black and white */
     width: 100%; /* Set width to 100% */
     margin: auto;
 }
 .carousel-caption h3 {
     color: #fff !important;
 }
 @media (max-width: 600px) {
   .carousel-caption {
     display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
   }
 }

 .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }

.form-group {
color: green;
text-align: left;
}

.col-md-3 {
  color: green;
  text-align: left;
}

.form-control {
color: green;
text-align: left;
}

.table table-striped{
  color: red;
}


.col-md-10 {
color: purple;
}

// Devise Error Messages
#error_explanation {
 background-color: #f2dede;
 color: #a94442;
 text-align: left;
 padding: 5px 20px;
 margin-bottom: 30px;
}

#error_explanation h2 {
 font-size: 150%;
}

.signed-in-user {
  padding-top: 10px;
  padding-right: 20px;
}

.signed-in-user .navbar-text {
  color: #ffffff;
}

// Link styling
.link {
  margin-bottom: 5px;
}

#back-btn {
  margin-left: -10px;
  margin-top: 30px;
}

.destroy-btn:hover {
  color: #ff0000;
  font-weight: bold;
  font-size: 120%;
}

// Chart Styling
// path {
//   stroke: steelblue; stroke-width: 2; fill: none;
// }
// .axis path, .axis line {
//     fill: none;
//     stroke: grey;
//     stroke-width: 1;
//     shape-rendering: crispEdges;
// }

#chat-window {
  border: 1px solid #76C95B;
  margin-top: 50px;
  margin-bottom: 30px;

}

#chat-window header {
  background: #76C95B;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 120%;
}

#chat-box {
  min-height: 100px;
}

#message-field {
  width: 96%;
}

.message-body {
  margin-bottom: 2px;
}

#show-header {
  color: blue;
  padding-top: 350px;
  padding-bottom: 350px;
}

hr.msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

#followers {
  border-right: 1px solid #76C95B;
}

.followers {
  margin-left: -15px;
}

#form-box {
  margin-left: -15px;
  color: blue;
  padding-right: 50px;
}

#post-btn {
  margin-right: -35px;
}
