// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand-heading  {
  color: #4040a1;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 150%;
  font-weight: bold;
}

.intro-text  {
  color: red;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 150%;
  font-weight: bold;
}

.row2  {
  color: orange;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 150%;
  font-weight: bold;
}
