
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row2">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">The Hidden Genius Project</h2>
                        <p class="intro-text">Featured Genius-Malik Poole</p><br>
                        <a href="malik_spiderman.jpg"> Malik </a><br>

                            <p>Malik is a blah blah blah<a href="https://www.youtube.com/channel/UCOhVvEbwfi3jnW9YDUuHiBQ/"> Our youtube channel</a>. He has been featured in a variety of news, social medaia magazines.</p>
                            <p>Malik's mobile applications is called "H.Y.R.E.". <a href="http://hiddengeniusproject.org/"> link to app </a></p>
                            <p>Malik is currently working as a Junior Educator for The Hidden Genius Project teaching web building and app design at a local high school this summer.</p>
                            <p>Malik speaking about the Hidden Genius Project and his app <a href="https://talkpython.fm/episodes/embed_details/114"> Pycon conference podcast</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="Cohort 3" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Malik's final Summer project</h2>
            </div>
        </div>
    </section>
