<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row2">
                <div class="col-md-8 col-md-offset-2">
                    <br>
                    <p class="intro-text">Featured Alumni Genius-George Hofstetter</p><br>
                    <img alt="Geroge" src="/assets/george.jessie.jpg"style="width:404px;height:328px;" />
                    <br>

                        <p>George is a senior at Alameda Community Learning Center studying to become a Computer scientist<a href="http://www.meetgeorge.info/">Meet George from cohort 3!<br> He has been featured in a variety of news, social medaia magazines.</p>
                        <p>George's mobile applications is called "Cop Stop". <a href="http://hiddengeniusproject.org/"> link to app </a></p>
                        <p>Visit George's website and listen him describe his work. <a href="https://www.georgehofstettertechnologies.com/"> Georges's website </a></p>
                        <p>George being featured for his work by the Equal Justice Society. <a href="https://equaljusticesociety.org/"></a></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="Cohort 3" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

        </div>
    </div>
</section>
